<h1 class="chat-heading">Chat</h1>
<div class="chat-container">
    <input type="text" id="chatBox" class="chat-input">
    <button id="botonChat" class="chat-button">Enviar</button>
</div>
<div>
    <p id="parrafosMensajes" class="chat-messages"></p>
</div>