<h1>Vista de productos en tiempo real</h1>

<h2>Agregar producto</h2>
<form id='add-prod' class='add-prod'>
    <div>
        <label for="prod-title">Nombre
            <input type="text" name='title'>
        </label>
    </div>
    <div>
        <label for="prod-desc">Descripción
            <input type="text" name='description'>
        </label>
    </div>
    <div>
        <label for="prod-category">Categoría
            <input type="text" name='category'>
        </label>
    </div>
    <div>
        <label for="prod-price">Precio
            <input type="text" name='price'>
        </label>
    </div>
    <div>
        <label for="prod-code">Código
            <input type="text" name='code'>
        </label>
    </div>
    <div>
        <label for="prod-stock">Stock
            <input type="text" name='stock'>
        </label>
    </div>
    <button id='btn-form'>Agregar Producto</button>
</form>
<br><br>
<div id='products-container'></div>

<h1>Eliminar un Producto</h1>
<form id="removeForm">
    <div class="row">
        <div class="col-4 mb-3">
            <label for="code">Code</label>
            <input type="text" required name="code">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>
</form>


