 <h1>Creación de Usuario</h1>
  <form id="add-user" class="add-user" action="/api/sessions/signUp" method="POST">
    <div>
      <label for="user-name">Nombre
        <input type="text" required name="name">
      </label>
    </div>
    <div>
      <label for="user-lastName">Apellido
        <input type="text" required name="lastName">
      </label>
    </div>
    <div>
      <label for="user-age">Edad
        <input type="number" required name="age">
      </label>
    </div>
    <div>
      <label for="user-email">Email
        <input type="email" required name="email">
      </label>
    </div>
    <div>
      <label for="user-password">Contraseña
        <input type="password" required name="password">
      </label>
    </div>
    <button id="btn-form" type="submit">Crear Usuario</button>
  </form>
  <div>
  <p>Tenes cuenta de GitHub? Haz click para registrarte <a href='/api/sessions/githubCallback'>aqui</a></p>
</div>
  <div>
  <p>Ya tienes una cuenta? Haz click <a href='/login'>aqui</a></p>
</div>