body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(238, 238, 23);
  text-align: center;
}

h1 {
  color: hsl(0, 87%, 3%);
  text-align: center;
}

h2 {
  color: #007bff;
}

#cart-container {
  margin-top: 20px;
  color: black;
}

#cart-container .product {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

#cart-container h2 {
  margin: 0;
  color: #007bff;
}

#cart-container p {
  margin: 5px 0;
}