body{
    background-color: rgb(207, 121, 15);
}

h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }