body{
  background-color: beige;
}
.products-heading {
  color: #333;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.product {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.product h2 {
  margin: 0;
  color: #007bff;
}

.product p {
  margin: 5px 0;
}

strong {
  text-align: center;
  display: block;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

button:hover {
  background-color: #0056b3;
}

